.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
  padding: 36px;
  box-sizing: border-box;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__close_image-preview {
  bottom: calc(100% + 30px);
  left: calc(100%-30%);
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 54px;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  width: 358px;
  height: 50.15px;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 36px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__button_disabled {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.modal__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.modal__button_delete {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 2px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal__button_delete:hover {
  opacity: 80%;
}

.modal__button_submit {
  width: 358px;
  height: 50px;
  background-color: black;
  color: #fff;
  margin-top: 18px;
  border-radius: 2px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal__button_submit:hover {
  opacity: 80%;
}

.modal__button_submit_disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0, 0.2);
  border: solid 1px rgb(0, 0, 0, 0.2);
  cursor: default;
}

.modal__button_submit_disabled:hover {
  opacity: 1;
}

.modal__image {
  max-width: 100%;
  max-height: calc(75vh - 20px);
  object-fit: cover;
}

.modal__image-preview {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
  background: transparent;
}

.modal__text-preview {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #fff;
  margin: 10px 0;
}

.modal__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  height: 16px;
  opacity: 0;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error_visible {
  color: #ff0000;
  opacity: 1;
}

@media screen and (max-width: 680px) {
  .modal__close {
    left: calc(100% - 35px);
    bottom: calc(100% + 14px);
    width: 26px;
    height: 26px;
  }

  .modal__container {
    padding: 25px 22px;
    width: 282px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
  }

  .modal__heading {
    font-size: 18px;
    text-align: center;
  }

  .modal__button {
    font-size: 14px;
    width: 238px;
    height: 46px;
    padding: 0;
  }

  .modal__close_image-preview {
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}
