.profile {
  display: flex;
  align-items: center;
  padding-top: 42px;
}

.profile__avatar {
  position: relative;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}
.profile__avatar:hover .profile__image_edit-pencil {
  visibility: visible;
}

.profile__image_edit-pencil {
  position: absolute;

  background: url(../images/Vector.svg);
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description ";
  grid-template-columns: minmax(auto, 415px) auto;
  align-items: center;
}

.profile__edit-button {
  background: url("../images/edit-button.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  transition: opacity 0.2s linear;
  margin-right: 20px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url("../images/add-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  transition: all 300ms;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    line-height: normal;
    font-size: 22px;
    max-width: 250px;
  }

  .profile__image {
    margin: 0 80px 30px 82px;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 282px;
    grid-gap: 14px 10px;
  }

  .profile__description {
    max-width: calc(100% - 124px);
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }

  .profile__add-button {
    padding: 0;
    margin: 36px 19px 0;
    width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    display: inline-block;
  }
}
